@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F9F5EC;
  color: #2D1810;
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #F3EAD8;
}
::-webkit-scrollbar-thumb {
  background: #C07D38;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8B4513;
}
